<footer> 
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <!-- logo -->
          <a class="navbar-brand d-flex align-items-center footer-logo-style" href="/">
            <img src="/images/logoMi.png" alt="logo" style="width: 88px; height: 88px;">
            <img src="/images/hizbulWathan.png" alt="logo" style="width: 88px; height: 88px; margin-left: 10px;">
            <img src="/images/pramuka.png" alt="logo" style="width: 88px; height: 88px; margin-left: 10px;">
          </a><br>
          <ul class="list-unstyled">
            <li class="mb-2"><p>Jl. Pembina No.2 Karangpucung Kec. Purwokerto Sel. <br>Kabupaten Banyumas, Jawa Tengah 53142, Indonesia</p></li>
            <li class="mb-2">+6282167592345</li>
            <li class="mb-2">mialikhlaskarpuc1@gmail.com</li>
          </ul>
        </div>
        <!-- inside web links -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5">KATEGORI</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="/showSingleProfile/13">Profile Madrasah</a></li>
            <li class="mb-3"><a class="text-color" href="/extracurricular">Ekstrakulikuler</a></li>
            <li class="mb-3"><a class="text-color" href="/gallery">Gallery</a></li>
            <li class="mb-3"><a class="text-color" href="/news">Berita</a></li>
            <li class="mb-3"><a class="text-color" href="/announcements">Pengumuman</a></li>
            <li class="mb-3"><a class="text-color" href="/teacher">Guru</a></li>
          </ul>
        </div>
        <!-- support -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5">BANTUAN</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="/contact">Hubungi Kami</a></li>
          </ul>
        </div>
        <!-- related links -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5">TERKAIT</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="https://muhammadiyah.or.id/">Muhammadiyah</a></li>
            <li class="mb-3"><a class="text-color" href="/pdmbanyumas">PDM Banyumas</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div> 
</footer>

