<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Form Berita</div>
      </div>
      <div class="card-body">
        <form action="/createBerita" method="POST" enctype="multipart/form-data" onsubmit="return prepareBeritaSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="image">Foto Berita</label><br>
                <input
                  type="file"
                  class="form-control-file"
                  id="image"
                  name="image"
                /><br>
                <small style="color: gray; font-size: 0.85rem;">*Max file size: 2 MB</small></br><br>

                <label for="judul">Judul Berita</label>
                <input
                  type="text"
                  class="form-control"
                  id="judul"
                  name="judul"
                  placeholder="Masukan judul berita.."
                  required
                /><br>

                <label for="tanggal">Tanggal</label>
                <input
                  type="date"
                  class="form-control"
                  id="tanggal"
                  name="tanggal"
                  required
                /><br>

                <label for="keterangan">Tentang Berita</label>
                <!-- Quill Editor -->
                <div id="editor-berita"></div>
                <!-- Hidden input to store Quill content -->
                <input type="hidden" name="keterangan" id="keteranganberita" />
              </div><br>

              <div class="card-action">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
