<div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Form Gallery</div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <form action="/createGaleri" method="POST" enctype="multipart/form-data">
                            <label for="judul">Keterangan Singkat Foto</label>
                            <input
                              type="text"
                              class="form-control form-control"
                              id="judul"
                              name="judul"
                              placeholder="Masukan keterangan singkat dari foto dibawah.."
                            /></br>
                            <label for="image">Foto Kegiatan</label></br>
                            <input type="file" class="form-control-file" id="image" name="image"/></br>
                            <small style="color: gray; font-size: 0.85rem;">*Max file size: 2 MB</small></br> 
                            <button class="btn btn-success" type="submit">Submit</button>
                            <button class="btn btn-danger">Cancel</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
